# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.suo*
*.ncb
*.sdf
*.opensdf
*.dbmdl
*.pdb
*.opendb
*.pgm
*.idb
*.ilk
*.log
*.tmp
*.tlog

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
/releases
/balance-bet/balance-bet/x64/Debug
/balance-bet/x64/Debug
